#app {
    height: 100%;
    width: 100%;
}

header {
    background-color: #fff;
    height: 50px;
    max-height: 50px;
}
header .header-container,
header .links,
header .app-title
{
    height: 100%;
}
header .app-title .title {
    margin-right: 19px;
    padding-top: 18px;
}
header .links .link {
    padding-top: 17px;
    padding-right: 9px;
    padding-left: 9px;
}
header .links .link:hover {
    background-color: #c4dae5;
}


.title {
    font-weight: bolder;
}

.page {
    padding: 14px 0;
}

.page .column:not(:last-child) {
    margin-right: 10px;
}

.message {
    text-align: left;
    color: #959595;
}

.paper {
    background-color: #fff;
    padding: 12px;
    box-shadow: 3px 10px 10px rgba(0,0,0,.04);
}
.message.paper,
.thread-comment.paper {
    padding: 12px;
}

.thread-component {
    background-color: #fff;
    border: 1px solid transparent;
    display: block;
}
.thread-component .title {
    padding: 12px;
}

.thread-component:not(:last-child) {
    margin-bottom: 12px;
}

.thread-component:hover {
    border: 1px solid #555;
}

.thread-details {
    border: 1px solid transparent;
}


.thread-form,
.thread-form-container .title,
.thread-component .title {
    width: 100%;
}
.thread-component .title:hover {
    cursor: pointer;
}

.thread-comments .title {
    margin-top: 9px;

}

.thread-comments .thread-comment {
    margin-top: 9px;
}
.thread-comments .thread-comment .author {
    font-weight: bolder;
}
.thread-comments .thread-comment .audit {
    margin: 0 9px;
    font-weight: lighter;
}
.thread-comments .thread-comment .comment-details {
    font-weight: normal;
    font-size: .9em;
    margin-top: 4px;
}

.thread-comments .message {
    margin-top: 9px;
}

.details {
    margin-top: 9px;
    font-weight: lighter;
    font-size: .9em;
}

.thread-comment-form .app-input:not(:last-child),
.thread-form .app-input:not(:last-child) {
    margin-bottom: 9px;
}

#forum-details .title {
    font-size: 15px;
    padding: 9px 0;
}

.thread-comments > .title,
.thread-form-container .title {
    font-weight: lighter;
    border-bottom: 1px solid #555555;
}


textarea {
    resize: vertical;
    width: 100%;
}
.app-input {
    padding: 7px;
    border: 1px solid #e9e9e9;
}

.app-button {
    background-color: #ffffff;
    transition: background-color .25s;
    border: none;
    padding: 9px 19px;
}

input.app-button {
    background-color: #c4dae5;
    border-radius: 5px;
}
input.app-button:hover {
    background-color: #a9c6d2;
    cursor: pointer;
}
input.app-button:active {
    background-color: #8db3c4;
    position: relative;
    top: 4px;
}