#app {
    height: 100%;
    width: 100%;
}

header {
    background-color: #fff;
    height: 50px;
    max-height: 50px;
    padding: 18px 0;
}
header .links > *:not(:last-child) {
    margin-right: 18px;
}

.title {
    font-weight: bolder;
}

.page {
    padding: 14px 0;
}

.page .column:not(:last-child) {
    margin-right: 10px;
}

.message {
    text-align: left;
    color: #959595;
}

.paper {
    background-color: #fff;
    box-shadow: 3px 10px 10px rgba(0,0,0,.04);
}

.thread-component {
    border: 1px solid transparent;
    display: block;
}

.thread-component:not(:last-child) {
    margin-bottom: 12px;
}

.thread-component:hover {
    border: 1px solid #555;
}
.thread-component .title {
    padding: 18px 9px;
    width: 100%;
}
.thread-component .title:hover {
    cursor: pointer;
}


#forum-details .title {
    font-size: 15px;
    padding: 9px 0;
}